{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    {% if entry %}
        <!-- <h1>{{ entry }}</h1>
        <p>{{ entry.content|safe }}</p> -->
        <div class="d-flex flex-column">
            <a class="btn btn-primary  align-self-end" href="{% url 'edit' title %}">Edit</a>
            <div class="m-3">{{ entry|safe }}</div>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h2>No such page</h2>
            <p>The page you were looking for does not exist.</p>
        </div>
    {% endif %}
{% endblock %}